<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="google-site-verification" content="L_Ix4GvESCDpnJP-ZpkpOMxeAyGSCDhQVZqrgWjeEW4" />
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">

  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">
</head>
<body>
  <div class="container">
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>{{ site.time | date: "%Y" }} &copy; <a href="mailto:roxtonmart@gmail.com" id="footer-name">{{ site.author }}</p>
    </footer>
  </div>
</body>
</html>